<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
<% if params[:board]%>
  <li>
    <%= link_to @board.category.name, category_path(@board.category.id) %> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @board.name, board_path(@board.id) %> <span class="divider">/</span>
  </li>
<% end %>
  <li class="active">New Post</li>
</ul>

<%= simple_form_for(@topic, :html => { :class => "form-horizontal"}) do |f| %>

<fieldset>
  <legend>New Topic</legend>
  <%= f.error_notification %>

  <div class="form-inputs">

	<%= f.input :name %>
	
	<% if params[:board]%>
	    <div class="control-group">
	      <%= f.label :board_id, :class => 'control-label' %>
	      <div class="controls">
			<%= f.label @board.name %>
			<%= f.input :board_id, :as => :hidden, :input_html => {:value => @board.id} %>
	      </div>
	    </div>
	<% else %>
		<%= f.input :board_id, :collection => @boards, :prompt => "Select the board" %>
	<% end %>
	  </div>
	<%= simple_fields_for :post do |p| %>
		<%= p.input :content, :as => :text, :input_html => { :class => "span6", :rows => 5 } %>
	<% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %> <%= link_to 'Back', :back, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
