<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Users</li>
</ul>

<h1>Users</h1>

	<% if admin_user%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Email</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
		<td><%= link_to user.username, user %>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= user.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>	

	<% else %>
	
	
<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Member Since</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
		<td><%= link_to user.username, user %>
        <td><%= mail_to user.email, user.email %></td>
        <td><%= distance_of_time_in_words_to_now(user.created_at) + " ago" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
	
	<% end %>
	
	<div class="pull-right">
		<%= will_paginate(@user) %>
	</div>
