<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">My profile</li>
</ul>

<h1><%= current_user.username %></h1>

<div class="span2">
	<%= image_tag avatar_url(current_user) %>
</div>
<div class="span7">
</div>

<p><%= @user.firstname%> <%= @user.lastname%></p>

<p>
  <b>Email</b><br>
  <%= @user.email %>
</p>


<div class="form-actions">
  <%= link_to 'Back', :back, :class => 'btn'  %>
  <%= link_to 'Edit', edit_profile_path, :class => 'btn' %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
