<ul class="breadcrumb">
  <li>
    <%= link_to "Home", root_url %><span class="divider">/</span>
  </li>
  <li class="active">Settings</li>
</ul>

  <fieldset>
    <legend>Settings</legend>

<% @settings.each do |setting| %>
	<%= form_for setting, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label setting.name, :class => 'control-label' %>
	  <input type="hidden" id="setting_name" name="setting[name]" value="<%= setting.name %>">
      <div class="controls">
        <%= f.text_field "value", :value => setting.value, :class => 'text_field' %>
		<%= f.submit :class => 'btn btn-primary' %>
      </div>
    </div>
	<% end %>
<% end %>
</fieldset>

<br />

<div class="form-actions">
<%= link_to 'New Setting', new_setting_path, :class => 'btn btn-primary' %>
</div>
