<ul class="breadcrumb">
  <li>
    <%= link_to "Home", root_url %><span class="divider">/</span>
  </li>
  <li class="active">Boards</li>
</ul>

<h1>Boards</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= link_to board.name, board_path(board) %></td>
        <td><%= board.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_board_path(board), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', board_path(board), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_board_path, :class => 'btn btn-primary' %>
