<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to @category.name, category_path(@board.category_id) %> <span class="divider">/</span>
  </li>
  <li class="active"><%= @board.name %></li>
</ul>

<% if current_user %>
	<div class="form-actions">
		
		<div class="pull-right">
			<%= will_paginate(@topics)%>
		</div>
		
		<%= link_to 'New Topic', new_topic_path(:board => @board.id),  :class => 'btn btn-primary' %>
		<% if admin_user %>
			<%= link_to 'Edit', edit_board_path(@board), :class => 'btn' %> <%= link_to 'Delete', board_path(@board), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
		<% end %>
	</div>	
<% end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Forum</th>
      <th>Posts</th>
      <th>Recent Activity</th>
    </tr>
  </thead>
  <tbody>
	<% @topics.each do |topic| %>
    <tr>
      <td>icon</td>
      <td><strong><%= link_to topic.name, topic %></strong></td>
      <td><%= topic.posts.count %></td>
	  <td><%= latest_post(topic.posts.last) %></td>
    </tr>
	<% end%>
  </tbody>
</table>


<% if current_user %>
	<div class="form-actions">
		
		<div class="pull-right">
			<%= will_paginate(@topics)%>
		</div>
		
		<%= link_to 'New Topic', new_topic_path(:board => @board.id),  :class => 'btn btn-primary' %>
		<% if admin_user %>
			<%= link_to 'Edit', edit_board_path(@board), :class => 'btn' %> <%= link_to 'Delete', board_path(@board), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
		<% end %>
	</div>	
<% end%>
