<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">Conversations</li>
</ul>

<div class="form-actions">

<%= link_to "New Conversation", new_conversation_path, :class => 'btn btn-primary' %>

	<div class="pull-right">
	</div>
</div>
	
<table class="table table-striped">
<% for conversation in @conversations do %>
<tr>
	<td>
		<%= link_to(image_tag(avatar_url(conversation.messages.last.user)), conversation_path(conversation)) %>
	</td>
	<td>
	<p><% for user in conversation.users do %>
	   		<%= link_to("#{user.username}", user) %><% if conversation.users.last != user %>,<% end %>
	   <% end %></p>
		<p><%= link_to raw("#{conversation.subject} <br /> #{conversation.messages.last.body}"), conversation_path(conversation) %>
	</td>
	<td>
		<p><%= time_ago_in_words conversation.last_message_at %> ago</p>
	</td>
</tr>
<% end %>

</table>

<div class="form-actions">

<%= link_to "New Conversation", new_conversation_path, :class => 'btn btn-primary' %>

	<div class="pull-right">
	</div>
</div>