<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Conversations", conversations_path %> <span class="divider">/</span>
  </li>
  <li class="active"><%= @conversation.subject %></li>
</ul>

<% @conversation.messages.each do |message| %>

<div class="row-fluid">
	<div class="span2">
		<p><%= (image_tag avatar_url(message.user))%></p>
	      
	</div>
	<div class="span10">
		<%= message.body %>
	</div>
</div>
<% end %>

<div>
  <h2>People in this conversation:</h2>
  <ul>
    <% for user in @conversation.users do %>
      <li><%= link_to user.username, user %></li>
    <% end %>
  </ul>
</div>

<%= form_for(@message) do |f| %>
  <div>
      <div>
        <%= f.label :body %><br />
        <%= f.text_area :body %>
      </div>

<input type="hidden" id="message_conversation_id" name="message[conversation_id]" value="<%= params[:id] %>" />

  <%= f.submit %>
<% end %>

<%= link_to "Back to conversations", conversations_path %>