<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :user_id %>
    <%= f.input :topic_id %>
    <%= f.input :votes %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
