<ul class="breadcrumb">
  </li>
  <li class="active">Home</li>
</ul>

<% @categories.each do |category| %>
<h3><%= link_to category.name, category %></h3>
<p><%= category.description %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Forum</th>
      <th>Topics</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
	<% category.boards.each do |board| %>
    <tr>
      <td>icon</td>
      <td><strong><%= link_to board.name, board %></strong>
			<p><%= board.description %></p></td>
      <td><%= board.topics.count %></td>		
	  <td>TODO</td>
    </tr>
	<% end%>
  </tbody>
</table>
<% end %>