<ul class="breadcrumb">
  <li>
    <a href="/">Home</a> <span class="divider">/</span>
  </li>
  <li class="active">My profile</li>
</ul>

<h1><%= current_user.firstname %> "<%= current_user.username%>" <%= current_user.lastname%></h1>


<div class="row-fluid">
	<div class="span1">
		<%= image_tag avatar_url(current_user) %>
	</div>
	<div class="span11">
		<table>
			<tr>
				<td>E-Mail:</td>
				<td><%= mail_to current_user.email, current_user.email %></td>
			</tr>
			<% @authentications.each do |authentication| %>
			
				<tr>
					<td><%= authentication.provider.capitalize %>:</td>
					<td><%= authentication.uid %> <%= link_to("Unlink", auth_remove_path(:id => authentication.id), :confirm => 'Are you sure?')%></td>
				</tr>
				<% end %>
		</table>
	</div>
</div>


<div class="form-actions">
  <%= link_to 'Back', :back, :class => 'btn'  %>
  <%= link_to 'Edit', profile_edit_path, :class => 'btn' %>
  <%= link_to 'Delete', profile_destroy_path, :confirm => 'Are you sure?', :class => 'btn btn-danger pull-right' %>
</div>
